__pycache__/
*.class
.DS_Store
.metadata/
build/
csrc/build/
simple_bots/build/
!csrc/data/equity_third_card.bin

*.txt
!LICENSE.txt
!CMakeLists.txt
arena_results.json


# IDEs
.vscode/
.vs/
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-debug-event-trace/
cmake-build-release-event-trace/
