__pycache__/
A.txt
B.txt
gamelog.txt
*.class
.DS_Store
.metadata/
build/

# IDEs
.vscode/
.vs/
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-debug-event-trace/
cmake-build-release-event-trace/